/* Global styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Copperplate;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 90%; /* Adjusted width */
    margin: auto;
    padding: 3% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Header styles */
#navbar {
    color: #FFFFFF;
    padding: 0.5% 0;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url(homespace_home.png);
    background-size: cover;
    position: relative;
    transition: background-image 1s ease;
}

.header,
.logo {
    display: flex;
    align-items: center;
}

.image {
    height: 100px; /* Adjusted height */
    margin: 5px;
}

.logotext,
.brand {
    font-family: "Termina";
}

.logotext {
    font-size: 30px; /* Adjusted font size */
    color: #008000;
    margin: 20px; /* Adjusted margin */
    margin-left: 5px;
    border-right: #FFA500 solid 3px;
    padding-right: 50px; /* Adjusted padding */
}

.brand {
    font-size: 20px; /* Adjusted font size */
    color: #008000;
    margin-right: 70px; /* Adjusted margin */
    padding-left: 50px; /* Adjusted padding */
}

/* Navigation menu styles */
.menu {
    display: flex;
    justify-content: flex-end;
}

.menu li {
    margin-left: 10px; /* Adjusted margin */
}

.menu ul {
    margin-left: 10px; /* Adjusted margin */
}

.menu a {
    color: #FFA500;
    text-decoration: none;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.menu a:hover {
    color: #FFFFFF;
}

h1 {
    color: orange;
    text-align: center;
    font-family: Termina;
    font-size: 2.2em;
}

/* Responsive styles for screens <= 720px */
@media only screen and (max-width: 720px) {
    .container {
        width: 100%; /* Adjusted width */
    }

    .image {
        height: 50px; /* Smaller height */
        margin-top: 10px;
    }

    .logotext {
        font-size: 20px; /* Bigger font size */
        margin: 5px;
        padding-right: 10px; /* Smaller padding */
        margin-top: 10px; /* Reset margin */
    }

    .brand {
        font-size: 10px; /* Smaller font size */
        margin-top: 10px; /* Space out from the logo */
        padding-left: 10px; /* Add padding to separate from image */
    }

    .menu a {
        padding: 4px 8px; /* Smaller padding */
        font-size: 12px; /* Bigger font size */
    }

    .tumelo,
    .colombe {
        max-width: 40px; /* Adjusted max width */
    }

    .text-column {
        width: 90%; /* Set width of text column */
        margin: 0 auto; /* Center the text column */
        padding: 0 10px; /* Add padding to text column */
    }
}











@media only screen and (max-width: 720px) {
    .container {
        padding: 0;
    }
    
    #navbar {
        padding: 0.5% 0;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url(homespace_phone.jpg);
        background-size: cover; /* Ensure the background image fits within the navbar */
        background-repeat: no-repeat; /* Prevent background image from repeating */
    }

    .header,
    .logo {
        display: flex;
        align-items: center;
    }

    .image {
        height: 50px; /* Smaller height */
        margin: 0;
        margin-top: 10px;
    }

    .logotext {
        font-size: 20px; /* Bigger font size */
        color: #008000;
        margin: 10px;
        border-right: #FFA500 solid 1px;
        padding-right: 20px; /* Smaller padding */
        margin-top: 10px; /* Reset margin */
    }

    .logotext, 
    .brand {
        font-family: Times New Roman, serif;
    }

    .brand {
        font-size: 10px; /* Smaller font size */
        color: #0B6623;
        margin-top: 10px; /* Space out from the logo */
        padding-left: 20px; /* Add padding to separate from image */
    }

    .menu {
        display: flex;
        justify-content: space-between; /* Align items to left and right */
        flex-wrap: wrap; /* Allow items to wrap to the next line */
        flex-direction: column;
    }

    .menu ul {
        margin: 0; /* Reset margin */
    }

    .menu a {
        padding: 0px 0px; /* Smaller padding */
        font-size: 8px; /* Bigger font size */
        font-weight: bold;
        text-align: center;
    }

    .menu a:hover {
        color: #FFFFFF; /* Change text color to white on hover */
    }

    .tumelo,
    .colombe {
        max-width: 50px;
        height: auto;
    }

    .text-column {
        width: 350px; /* Set width of text column */
        margin: 0 auto; /* Center the text column */
        padding: 0 10px; /* Add padding to text column */
    }
}

















/* Contact section styles */
.social-container {
    color: green;
}

.social-container h2 {
    text-align: center;
}

.contact-info {
    color: green;
    margin-bottom: 30px;
}

#contact {
    background-color: #FFA500;
    padding: 50px 0;
    text-align: center;
}

.contact-info p {
    font-size: 1.1em;
    color: #0B6623;
    margin: 5px 0;
}

.contact-info a {
    font-size: 1.1em;
    color: #0B6623;
    margin: 5px 0;
}

.social-networks h3 {
    font-size: 1.5em;
    color: #008000;
    margin-bottom: 15px;
}

.social-networks ul {
    list-style-type: none;
    padding: 0;
}

.social-networks ul li {
    display: inline;
    margin-right: 20px;
}

.social-networks ul li a {
    color: #008000;
    text-decoration: none;
}

.social-networks ul li a:hover {
    text-decoration: underline;
}

.contact {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), transparent);
}

/* Button styles */
.custom-button {
    padding: 0.4em 1em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #FFA500;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
    margin-top: 10px;
}

.custom-button:hover {
    background-color: #008000;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #000000;
    transform: translateY(-7px);
}

.custom-button:active {
    transform: translateY(-1px);
}

/* Learn More button styles */
.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 12rem;
    height: auto;
}

.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    box-shadow: 0 0 5px 1px white;
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #008000;
    border-radius: 1.625rem;
}

.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgba(255, 255, 255, 0.493);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.learn-more:hover .circle {
    width: 100%;
    box-shadow: 0 0 10px 2px white;
}

.learn-more:hover .button-text {
    transform: translate(-1.7rem, 0);
}

.learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(8.7rem, 0);
}

.learn-more:active .circle .icon.arrow {
    transform: translate(9.5rem, 0);
    transition: all 0.3s;
}

.learn-more:active .circle {
    transform: scale(0.9);
    transition: all 0.3s;
    box-shadow: 0 0 5px 0.5px white;
}

.learn-more:hover .button-text {
    color: #fff;
}

.learn-more:active .button-text {
    color: rgba(255, 255, 255, 0.459);
}
